<div class="box">
  <img src="assets/img/logo.png" alt="" class="nav-right">
  <div class="card-login">
    <div class="titlebtn">
 <div class="seta">
        <img src="assets/img/ceta.png" class="seta" alt=""> </div>
        <h1 class="title-card">Redefinir Senha</h1>
 
    
    </div>
 
  <h2 class="subtitle-card important imp-reset">Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha.</h2>
  <form class="form-login-card" action="">
    <input type="text" class="form-control input-login" placeholder="Informe seu e-mail">
    <input type="submit" class="form-control" value="Enviar Recuperação" >
  </form>
</div>
<div class="links">

</div>
</div>