<div class="nav">
  <nav class="itens-nav">

    
    <div class="dropdown mr-1">
     
      <div>
        <img src="assets/img/sino.png" class="item-navbar" alt="">
        <a class="dropdown-toggle nav-right">
          <img src="assets/img/logo.png" alt="" class="img-nav"> </a>
      </div>

      <div class="dropdown-menu item-navbar" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="#">Alguma ação</a>
        <a class="dropdown-item" href="#">Outra ação</a>
        <a class="dropdown-item" href="#">Alguma coisa aqui</a>
      </div>
      
    </div>

</nav>
</div>