<div class="menu-lateral">

<div class="center">
  <img src="assets/img/logo-completo.png" class='img-logo-menu' alt="">


</div>
  <h2 class='subtitle-card m-10'>MENU</h2>
  

  <div class="btns">
<a routerLink="/entrar" routerLinkActive="btn-blue" class="btn">Dashboard</a>
<a routerLink="/recuperar-senha" routerLinkActive="btn-blue" class="btn">Coleções</a>
<a routerLink="/cadastrar-usuario" routerLinkActive="btn-blue" class="btn">Modelos</a>
<a routerLink="/ajuda" routerLinkActive="btn-blue" class="btn">Obter Ajuda</a>
<a routerLink="/comentarios" routerLinkActive="btn-blue" class="btn">Comentários</a>
 
 
 
  </div>
</div>