<div class="menu-lateral">

<div class="center">
  <img src="assets/img/logo-completo.png" class='img-logo-menu' alt="">


</div>
  <h2 class='title-menu'>MENU</h2>
  

  <div class="btns">
<a routerLink="/dashboard" routerLinkActive="btn-blue" class="btn">Dashboard</a>
<a routerLink="/colecoes" routerLinkActive="btn-blue" class="btn">Coleções</a>
<a routerLink="/modelos" routerLinkActive="btn-blue" class="btn">Modelos</a>
<a class="btn">Obter Ajuda</a>
<a class="btn">Comentários</a>
 
 
 
  </div>
</div>