<div class="box">
  <img src="assets/img/logo.png" alt="" class="logo-login">
  <div class="card-login">
    <h1 class="title-card">Sign Upg</h1>
    <h2 class="subtitle-card important">Insira seus dados para criar uma conta</h2>
    <form class="form-login-card"  (ngSubmit) = "onSubmit()" [formGroup]="form" action="">
      <input type="text" class="form-control input-login"  formControlName="nome" [(ngModel)]="nome" placeholder="Nome">
      <input type="text" class="form-control input-login"  formControlName="empresa" [(ngModel)]="empresa" placeholder="Empresa">
      <input type="text" class="form-control input-login"  formControlName="cnpj" [(ngModel)]="cnpj" placeholder="CNPJ">
      <input type="text" class="form-control input-login"  formControlName="email" [(ngModel)]="email" placeholder="Informe seu e-mail">
      <div class="width-2">
     
        <input type="password" class="form-control input-login width-2r"    formControlName="senha" [(ngModel)]="senha" placeholder="Senha">
      
  
        <input type="password" class="form-control input-login width-2r"  formControlName="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirmar senha">
 
 
    </div>
  
    <input type="submit" class="form-control btn-cadastro-aluno" value="Criar Conta">
    </form>
  </div>
  <div class="links">
  <h2 class="subtitle-card important">Já possui uma uma conta? <a routerLink="/entrar">Realizar login</a></h2>
   
  </div>
  </div>