<div class="corpo">

  <h1 class="title-dash" *ngIf="rota[2] === 'criar'">Criar Modelo</h1>
  <h1 class="title-dash" *ngIf="rota[2] === 'editar'">Editar Modelo</h1>

  <div class="table-bb">
    <form class="p-3 px-5 center" action="" (ngSubmit) = "onSubmit()" [formGroup]="form" >

      <div class="width-2">
        <input type="text" class="form-control input-login width-2r-45"  [(ngModel)]="modelo.nome" formControlName="nome" placeholder="Nome do Modelo">
        <select class="form-select input-login width-2r-45" [(ngModel)]="modelo.tipo" formControlName="tipo">
          <option selected>Tipo do Modelo</option>
          <option value="bermuda">bermuda</option>
          <option value="biquini">biquini</option>
          <option value="bolsa">bolsa</option>
          <option value="boné">boné</option>
          <option value="calça">calça</option>
          <option value="calçados">calçados</option>
          <option value="camisa">camisa</option>
          <option value="chapéu">chapéu</option>
          <option value="saia">saia</option>
        </select>
         
      </div>
      <div class="width-2">
        <select class="form-select input-login width-2r-45" [(ngModel)]="modelo.colecao" formControlName="colecao">
          <option selected>Selecionar coleção</option>
          <option *ngFor="let colecao of colecoes" value="{{colecao.nome}}">{{colecao.nome}}</option>
           
        </select>
        
        <input type="text" class="form-control input-login width-2r-45" [(ngModel)]="modelo.responsavel" formControlName="responsavel" placeholder="Responsável pelo modelo">
      </div>

      <div class="width-2">


        <div class="width-2r-45 mx-2">
          <h2 class="h2-radios" for="">Possui bordado?</h2>
          <div  class="radios" >
          <label class="">
            <input type="radio" name="bordado" value="Sim" [(ngModel)]="modelo.bordado" formControlName="bordado" />
            Sim
          </label>
           <label class="">
            <input type="radio" name="bordado" value="Não" [(ngModel)]="modelo.bordado" formControlName="bordado"/>
            Não
          </label>
        </div>
        </div>

        <div class="width-2r-45">
          <h2 class="h2-radios" for="">Possui estampa?</h2>
          <div  class="radios" >
          <label class="">
            <input type="radio" name="estampa" value="Sim" [(ngModel)]="modelo.estampa" formControlName="estampa"/>
           Sim
          </label>
           <label class="">
            <input type="radio" name="estampa"  value="Não" [(ngModel)]="modelo.estampa" formControlName="estampa" />
            Não
          </label>
        </div>
        </div>
        
      </div>

      <div class="btns-form">
        
        <div *ngIf="rota[2] === 'editar'" (click)="excluir()" class="excluir">
        
        <input type="button" class="form-control btn-simple btn-danger-form btn-form"  value="Excluir"> </div>
        <input type="button" routerLink="/dashboard"  class="form-control btn-simple btn-form disabled" value="Cancelar">
        <input type="submit" class="form-control btn-simple btn-form" value="Salvar">
      </div>
    </form>


  </div>
</div>