<div class="corpo">

  <h1 class="title-dash">Nome</h1>

  <div class="table-bb">
    <form class="p-3 px-5 center" action="" >

      <div class="width-2">
        <input type="text" class="form-control input-login width-2r-45" placeholder="Nome do Modelo">
        <select class="form-select input-login width-2r-45">
          <option selected>Tipo do Modelo</option>
          <option value="bermuda">bermuda</option>
          <option value="biquini">biquini</option>
          <option value="bolsa">bolsa</option>
          <option value="boné">boné</option>
          <option value="calça">calça</option>
          <option value="calçados">calçados</option>
          <option value="camisa">camisa</option>
          <option value="chapéu">chapéu</option>
          <option value="saia">saia</option>
        </select>
         
      </div>
      <div class="width-2">
        <select class="form-select input-login width-2r-45">
          <option selected>Selecionar coleção</option>
          <option *ngFor="let colecao of colecoes" value="{{colecao.nome}}">{{colecao.nome}}</option>
           
        </select>
        
        <input type="text" class="form-control input-login width-2r-45" placeholder="Responsável pelo modelo">
      </div>

      <div class="width-2">


        <div class="width-2r-45 mx-2">
          <h2 class="h2-radios" for="">Possui bordado?</h2>
          <div  class="radios" >
          <label class="">
            <input type="radio" name="bordado" />
            Sim
          </label>
           <label class="">
            <input type="radio" name="bordado" />
            Não
          </label>
        </div>
        </div>

        <div class="width-2r-45">
          <h2 class="h2-radios" for="">Possui estampa?</h2>
          <div  class="radios" >
          <label class="">
            <input type="radio" name="estampa" />
           Sim
          </label>
           <label class="">
            <input type="radio" name="estampa" />
            Não
          </label>
        </div>
        </div>
        
      </div>

      <div class="btns-form">
        
        <div class="excluir">
        
        <input type="button" class="form-control btn-simple btn-danger-form btn-form" value="Excluir"> </div>
        <input type="submit" class="form-control btn-simple btn-form disabled" value="Cancelar">
        <input type="submit" class="form-control btn-simple btn-form" value="Salvar">
      </div>
    </form>


  </div>
</div>