

<div class="box">

  <div class="toast align-items-center text-bg-primary border-0 m-4 fixed" [class.show]="invalido" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
       Senha ou email incorreto!
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
  


  <img src="assets/img/logo.png" alt="" class="logo-login">
  <div class="card-login">
    <h1 class="title-card">Sign In</h1>
    <h2 class="subtitle-card important">Insira suas credenciais para acessar sua conta</h2>
    <form class="form-login-card" action="" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="input-group has-validation">
        <input type="email" class="form-control input-login" [class.is-invalid]="form.controls['email'].errors"
          placeholder="Informe seu e-mail" formControlName="email" [(ngModel)]="email">
        <span class="invalid-feedback mb-3" *ngIf="form.controls['email'].errors">
          Digite seu email cadastrado!
        </span>
      </div>
      <div class="input-group has-validation">
        <input type="text" class="form-control input-login " [class.is-invalid]="form.controls['senha'].errors" placeholder="Informe sua senha" formControlName="senha"
          [(ngModel)]="senha">
        <span class="invalid-feedback mb-3" *ngIf="form.controls['senha'].errors">
          Mínimo 8 caracteres!
        </span>
        </div>
        <h2 *ngIf="logado" class="error" for="">{{logado}}</h2>
        <input type="submit" class="form-control" [disabled]="!form.valid" value="Entrar">
    </form>

  </div>
  <div class="links">
    <h2 class="subtitle-card important pass">Esqueceu sua senha? <a routerLink="/recuperar-senha">Redefinir senha</a>
    </h2>
    <h2 class="subtitle-card important redefenir">Ainda não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
    </h2>
  </div>
</div>