<div class="box">

<img src="assets/img/logo.png" alt="" class="logo-login">
<div class="card-login">
  <h1 class="title-card">Sign In</h1>
  <h2 class="subtitle-card">Insira suas credenciais para acessar sua conta</h2>
  <form class="form-login-card" action="">
    <input type="text" class="form-control input-login" placeholder="Informe seu e-mail">
    <input type="text" class="form-control input-login" placeholder="Informe sua senha">
  <input type="submit" class="form-control" value="Entrar">
  </form>
 
</div>
<div class="links">
<h2 class="subtitle-card">Esqueceu sua senha? <a>Redefinir senha</a></h2>
<h2 class="subtitle-card redefenir">Ainda não tem uma conta? <a>Cadastre-se</a></h2>
</div>
</div>